DJANGO_SECRET_KEY=
# DJANGO_ENV must be set externally; production does not read this file.
DJANGO_ENV=
DJANGO_DEBUG=
DJANGO_ALLOWED_HOSTS=
DJANGO_CSRF_TRUSTED_ORIGINS=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_SSLMODE=
POSTGRES_SSLROOTCERT=
DJANGO_TRUST_PROXY_HEADERS=
DJANGO_HSTS_SECONDS=
DJANGO_TRUSTED_PROXY_IPS=
DJANGO_CLIENT_IP_HEADER=
